#chat-log .message.narrator-narrative {
	background: #333;
	color: white;
	border: 2px solid #191813d6;
	font-style: italic;
}

#chat-log .message.narrator-description {
	background: #4b4a44;
	color: white;
	border: 2px solid #191813d6;
	font-style: italic;
}

#chat-log .message.narrator-notification {
	background: #4f7373aa;
	color: white;
	border: 2px dotted #b7b7b7d6;
}

#chat-log .narrator-chat {
	text-align: center;
}

#chat-log .narrator-span {
	white-space: pre-line;
	user-select: text;
}

#chat-log .narrator-span::selection {
	background: yellow;
}

#chat-log .narrator-span p {
	margin: -0.2rem;
}

#chat-log .narrator-chat .message-metadata {
	color: white;
}

.narrator-chat a.entity-link,
.narrator-chat a.inline-roll {
	background: none;
	border: 1px solid #707098;
}

.narrator {
	position: absolute;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: 1;
	align-items: center;
	display: flex;
}

.narrator-buttons {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	pointer-events: all;
	transition: 0.5s ease-in-out;
}

.narrator-buttons button {
	width: 100px;
	margin: 0 5px;
}

.narrator-frame {
	height: 100%;
	width: 100%;
	left: 0;
	transition: 0.1s ease-in-out;
	justify-content: center;
	align-items: center;
	display: flex;
}

.narrator-frameBG {
	height: 100%;
	width: 100%;
	left: 0;
	transition: 0.5s ease-in-out;
	background: rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.narrator-sidebarBG {
	height: 100%;
	width: 305px;
	right: 0;
	transition: 0.1s ease-in-out;
	box-shadow: inset 0 0 2000px 100px black;
	background: black;
	opacity: 0;
}

.narrator-bg {
	position: absolute;
	width: 100%;
	transition: 0.5s ease-in-out;
}

.narrator-box {
	position: absolute;
	max-height: 310px;
	overflow-y: hidden;
	width: 50%;
	max-width: 800px;
}

.narrator-content {
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	z-index: 1;
	font-size: 28px;
	font-weight: bold;
	text-shadow: 3px 3px 2px black;
	color: white;
	transition: opacity 0.5s ease-in-out;
	white-space: pre-line;
}

/* Moerill's FVTT Markdown Editor*/
.journal-sheet .editor-preview-active p {
	user-select: text;
}
